---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rodrigo Lezama - Proyectos">
  <main class="min-h-screen bg-slate-300 grid place-content-center">
    proyectos
  </main>
</Layout>
