<p class="text-3xl">
  <span id="clock"></span>
</p>
<script>
  const getHours = (now: Date, timeZoneOffset: number): number => {
    return now.getUTCHours() < timeZoneOffset
      ? now.getUTCHours() + 24 - timeZoneOffset
      : now.getUTCHours() - timeZoneOffset;
  };

  const convertToString = (value: number): string => {
    return `${value}`.padStart(2, "0");
  };

  function updateClock() {
    const now = new Date();
    const timeZoneOffset = 3;

    const hours = convertToString(getHours(now, timeZoneOffset));
    const minutes = convertToString(now.getMinutes());
    const seconds = convertToString(now.getSeconds());

    document.getElementById(
      "clock"
    ).textContent = `${hours}:${minutes}:${seconds}`;
  }
  updateClock();
  setInterval(updateClock, 1000);
</script>
