<p class="text-3xl">
  <span id="clock"></span>
</p>
<script>
 function updateClock() {
    const timeZoneOffset = 3;
    const now = new Date();
    const getHours = () => {
      if (now.getUTCHours() < timeZoneOffset) {
        return now.getUTCHours() + 24 - timeZoneOffset;
      }
      return now.getUTCHours() - timeZoneOffset;
    }
    const hours = getHours().toString().padStart(2, '0');
    const minutes = now.getMinutes().toString().padStart(2, '0');
    const seconds = now.getSeconds().toString().padStart(2, '0');

    document.getElementById("clock").textContent = `${hours}:${minutes}:${seconds}`;
  }
  updateClock();
  setInterval(updateClock, 1000);
</script>
